h1{
  color: #ff5733;
}
.btn-primary {
  background-color: #ff5733;
  border: none;
  transition: all 0.3s ease;
}


.btn-primary:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}


.card {
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  outline-color: aqua;
}


@media (max-width: 576px) {
  body {
    background-color: #f0f8ff; 
  }
  h1 {
    color: #ff5733;
  }
}
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #e6f0ff; 
}
footer{
  color:orange;
  background-color: rgb(0, 6, 6);
}
