body {
    font-family: Arial, sans-serif; 
    background-color: #b7f5d9;     
    margin: 20px;
    padding: 0;
}
h1 {
    color: #333;
    text-align: center;
}

li {
    background-color: #FFFFFF;
    margin: 5px 0;         
    padding: 10px;
}
button {
    display: block;
    margin: 20px auto;     
    padding: 10px 20px;
    background-color: #007BFF; 
    color: white;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3; 
}
