{% extends 'base.html' %}
{% block title %}Clientes{% endblock %}
{% block content %}
<h2>Listado de Clientes</h2>

<table border="1">
    <tr>
        <th>ID</th><th>Nombre</th><th>Mail</th><th>Teléfono</th><th>Acciones</th>
    </tr>
    {% for c in clientes %}
    <tr>
        <td>{{ c.id_cliente }}</td>
        <td>{{ c.nombre }}</td>
        <td>{{ c.mail }}</td>
        <td>{{ c.telefono }}</td>
        <td>
            <a href="{{ url_for('eliminar_cliente', id_cliente=c.id_cliente) }}">Eliminar</a> |
            <a href="{{ url_for('actualizar_cliente', id_cliente=c.id_cliente) }}">Actualizar</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
