{% extends 'base.html' %}

{% block title %}
    {% if producto %}
        Actualizar Producto
    {% else %}
        Agregar Producto
    {% endif %}
{% endblock %}

{% block content %}
<h2>
    {% if producto %}
        Actualizar Producto
    {% else %}
        Agregar Producto
    {% endif %}
</h2>

<form method="POST">
    {{ form.hidden_tag() }}
    <p>
        {{ form.marca.label }}<br>
        {% if producto %}
            {{ form.marca(value=producto.marca, size=30) }}
        {% else %}
            {{ form.marca(size=30) }}
        {% endif %}
    </p>
    <p>
        {{ form.modelo.label }}<br>
        {% if producto %}
            {{ form.modelo(value=producto.modelo, size=30) }}
        {% else %}
            {{ form.modelo(size=30) }}
        {% endif %}
    </p>
    <p>
        {{ form.precio.label }}<br>
        {% if producto %}
            {{ form.precio(value=producto.precio) }}
        {% else %}
            {{ form.precio() }}
        {% endif %}
    </p>
    <p>
        {{ form.stock.label }}<br>
        {% if producto %}
            {{ form.stock(value=producto.stock) }}
        {% else %}
            {{ form.stock() }}
        {% endif %}
    </p>
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}

