body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color:#f0f8ff;
}

h1 {
  text-align: center;
  color: #000000;
}
h2 {
    text-align: center;
    color: rgb(20, 26, 197);
}

.controls {
  text-align: center;
  margin-bottom: 20px;
  
}

input[type="url"] {
  width: 300px;
  padding: 8px;
  margin-right: 10px;
  background-color: aqua;
 
}

button {
  padding: 8px 12px;
  margin: 5px;
  cursor: pointer;
  background-color: antiquewhite;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 15px;
}

.gallery img {
  width: 100%;
  height: auto;
  border: 3px solid transparent;
  transition: transform 0.3s ease, border 0.3s ease;
}

.gallery img:hover {
  transform: scale(1.05);
  background-color: #007BFF;
}

.gallery img.selected {
  border: 3px solid #007BFF;
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.7);
}
